// color Palette
$primary: #3d5a80;
$primaryLight: #98c1d9;
$secondary: #e0fbfc;
$accent: #ee6c4d;
$dark: #293241;

// Font settings
$fontDefault: "Inter", "Roboto", "Fira Sans", "Helvetica Neue", sans-serif;
$fontMain: "Inter";
$fontWeight: 500;
$fontSize: 16px;
$lineHeight: 1.5;
