// color Palette
$primary: #3d5a80;
$primaryLight: #98c1d9;
$secondary: #e0fbfc;
$accent: #ee6c4d;
$dark: #293241;
$lightGray: #c5c9d3;
$midGray: #797b81;
$darkBorder: #21252e;
$darkPlain: #2a2e37;
$gradientOne: #333842;
$gradientTwo: #404552;
$bg__color: #ffe8d6;

// Font settings
$fontDefault: "Inter", "Roboto", "Fira Sans", "Helvetica Neue", sans-serif;
$fontMain: "Inter";
$fontWeight: 500;
$fontSize: 16px;
$lineHeight: 1.5;

// Font Sizes
$mainFont: "Inter";
$headingFont: "Inter";
$body-firstFont: 16px;
$body-secondFont: 20px;
$headingFirst: 25px;
$headingSecond: 31.25px;
$headingThird: 39.06px;
$headingFourth: 48.83px;
$largeFirst: 61.04px;
$largeSecond: 76.29px;

// Gaps
$gapSmll: 15px;
$gapMed: 30px;
$gapLrg: 45px;

// Border-Radiuses
$bradius: 30px;

// Shadows
$cardShadowXSmall: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
  0 1px 3px -1px rgba(0, 0, 0, 0.3);
$cardShadowSmall: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
  0 3px 7px -3px rgba(0, 0, 0, 0.3);
$cardShadowMedium: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3);
$cardShadowLarge: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
  0 18px 36px -18px rgba(0, 0, 0, 0.3);
$cardShadowLargeInset: inset 0 30px 60px -12px rgba(50, 50, 93, 0.25),
  inset 0 18px 36px -18px rgba(0, 0, 0, 0.3);
$cardShadowXLarge: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
  0 30px 60px -30px rgba(0, 0, 0, 0.3);

// EASINGS
$easingOne: cubic-bezier(0.45, 0.05, 0.55, 0.95);
$eaasingTwo: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$easingThree: cubic-bezier(0.65, 0.05, 0.36, 1);
$easingFour: cubic-bezier(0.77, 0, 0.18, 1);
$easingFive: cubic-bezier(0.79, 0.14, 0.15, 0.86);
$easingSix: cubic-bezier(0.86, 0, 0.07, 1);
$easingSeven: cubic-bezier(1, 0, 0, 1);
$easingEight: cubic-bezier(0.68, -0.55, 0.27, 1.55);
